<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mi primer Documento en HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    
    </head>
<body>
    <article class="contenedor01">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, harum tempora. Eos, voluptatem, cumque non sit eum voluptates voluptas impedit error quam recusandae aspernatur at repellat quaerat possimus earum beatae.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam distinctio fugit vel rem eum quasi modi in quam, impedit esse consectetur repudiandae molestias itaque atque animi, aliquam sapiente, cum quaerat.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem a enim dolorem consequatur exercitationem voluptates similique recusandae cupiditate ea voluptatum ducimus quae ex soluta nostrum, quam fuga harum deserunt natus!</p>
<article class="contenedor02">soy el contenedor02</article></article>
</body>
</html>