<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mi primer Documento en HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    
    </head>
<body>
  <div class="contenedor01"><h1>Soy el contenedor01</h1><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, ea! Debitis quos quia rerum ipsam, repudiandae est, nihil reprehenderit cumque modi totam et voluptas esse hic assumenda sapiente. Tenetur, tempore!</p></div>
  <div class="contenedor02"><h1>Soy el contenedor02</h1><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, ea! Debitis quos quia rerum ipsam, repudiandae est, nihil reprehenderit cumque modi totam et voluptas esse hic assumenda sapiente. Tenetur, tempore!</p></div>
</body>
</html>