<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Documento en HTML</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    
    </head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2 >Un subtítulo cualquiera</h2>
    <img src="/images/casla.jpg" alt="">
    <strong>Otro texto en negrilla</strong>
    <p>Lorem, ipsum dolor <strong>esto es un texto en negrilla</strong> amet consectetur adipisicing elit. Eligendi vero delectus error. Porro, dolorem aperiam! Odit ad, <em>soy un texto en cursiva</em> magnam officia officiis at molestias illum sapiente voluptate magni consequatur nobis harum nostrum?</p>
    <p class="parrafo-destacado">Lorem <em>soy un texto en cursiva</em> ipsum dolor, sit amet consectetur adipisicing elit. Illo rem perspiciatis omnis, dolor commodi nisi ab architecto debitis repudiandae error laboriosam minima atque voluptates vel sint labore ratione repellat nam?</p>
   <ol>
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
   </ol>
   <ul><li>Item1</li>
       <li>Item2</li>
       <li>Item3</li>
   </ul>
   <a href="https://www.google.com/">ir a google</a>
</body>
</html>